@font-face {
  font-family: "Raleway", sans-serif;
  src: url('fonts/Raleway-VariableFont_wght.ttf');
}
 html {
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  body {
    font-family: "Raleway", sans-serif;
  }

  a {
    text-decoration: none;
  }

  h4 {   
    font-weight: bolder;
  }

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
  }

  .logo {
    justify-content: flex-start;
  }
  
  .navbar {
    justify-content: flex-end;
}

  .caption {
    align-self: flex-end;
  }
  
  .search_form {
    justify-content: flex-start;
  }

  nav ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
  }

  ul li h2 a { 
    text-decoration: none;
    color: black;
  }

  ul li h2 a:hover { 
    color: #0065FC;
  }

  h2#Housing {
    padding: 0 15px;
  }

  .housingMarseille {
    max-width: 75%;
    background-color: #f2F2F2;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .housingMarseille .sectionTitle {
    max-width: fit-content;
  }

  .mostPopularMarseille {
    max-width: 25%;
  }

  .housingMarseille article {
    max-width: 30%;
    background-color: white;
    border-radius: 40px;
    margin: 10px;
  }

  .housingMarseille article img {
    max-width: 100%;
    border-radius: 40px 40px 0 0;
    padding: 5px;
  }

  figcaption {
    padding: 0 30px;
  }

  figcaption h4, figcaption p  {
    color: black;
    margin: auto;
  }

  i.fa-solid.fa-star, i.fa-regular.fa-star {
  color: #0065FC;
}

  .sectionArticle {
    display: flex;
    flex-wrap: wrap;
  }