 html {
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  body {
    font-family: "Raleway", sans-serif;
  }

  a {
    text-decoration: none;
  }

  h4 {   
    font-weight: bolder;
  }

  .infoSite {
    display: flex;
    justify-content: space-between;
    margin: 15px;
    align-items: center;
  }

  .infoSite a img {
    width: 70%;
  }

  .infoSite nav.navbar {
    justify-content: flex-end;
  }

  nav ul {
    display: flex;
  }

  nav li {
    list-style-type: none;
    display: inline-block;
    margin: 0 10px;
  }

  nav li.activeNav a {
    text-decoration: none;
    color: #0065FC;
    font-size: 16px;
    font-weight: lighter;
}
  
  nav li.inactiveNav a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: lighter;
}

  nav li.activeNav a::before,
  nav li.inactiveNav a::before { 
    content: "";
    transition: all 0.3s;
    display: block;
    height: 3px;
    width: 0;
    top: 5px;
    background: transparent;
  }

  nav li.activeNav a:hover::before,
  nav li.inactiveNav a:hover::before { 
    width: 100%;
    background: #0065FC;
    color: #0065FC;
  }

  .caption {
    margin: 15px;
  }

  form.searchForm {
    margin: 15px;
    position: relative;
    display: inline-flex;
  }

  i.fa-solid.fa-location-dot {
    padding: 13px;
    background: #f2f2f2;
    border-radius: 10px 0 0 10px;
  }

  button.outside {
    display: none;
  }

  .inputContainer input {
    background: #0065F2;
    border-radius: 0 10px 10px 0;
    border: none;
    padding: 13px;
    color: white;
  }

  input.inside {
    padding: 10px;
    font-weight: bolder;
  }

  .filtersList {
    display: flex;
    align-items: center;
    margin: 15px;
    flex-wrap: wrap;
  }

  .filtersList ul {
    display: flex;
    list-style: none;
  }

  .filtersList li {
    border-radius: 30px 30px;
    padding: 0 20px 0 0;
    margin: 5px;
    border: #F2f2f2 2px solid;
  }

  .filtersList li i {
    text-align: center;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    background-color: #DEEBFF;
    color: #0065FC;
    vertical-align: middle;
    font-size: 15px;
    padding: 8px;
  }

  .filtersList li a {
    color: black;
    font-weight: bold;
  } 

  .filtersList li:hover, .filtersList li:visited {
    filter: grayscale(1);
  }

  p i {
    border: solid 1px #f2F2F2;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    color: #0065FC;
  }

  p.infos {
    margin: 15px;
  }

  /*h2#housing, h2#activities, p strong {
    padding: 0 35px;
  }*/

  .housing {
    display: flex;
  }

  .housingMarseille {
    max-width: 70%;
    background-color: #f2F2F2;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 15px;
    padding: 25px;
    border-radius: 20px;
  }

  .housingMarseille .sectionArticle {
    display: flex;
    flex-wrap: wrap;
  }

  .housingMarseille article {
    max-width: 30%;
    background-color: white;
    border-radius: 20px;
    margin: 10px;
    filter: drop-shadow(0 1mm 1mm rgb(105, 105, 105));
  }

  .housingMarseille article img {
    border-radius: 20px 20px 0 0;
    padding: 5px;
    object-fit: cover;
    height: 225px;
    width: 100%;
  }

  .housingMarseille article img:hover {
    filter: brightness(0.9);
  }

  .popularHousingMarseille {
    max-width: 27%;
    background-color: #f2F2F2;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 15px;
    padding: 25px;
    border-radius: 20px;
  }
  
  .popularHousingMarseille article {
    max-width: 100%;
    background-color: white;
    border-radius: 20px;
    margin: 10px;
    filter: drop-shadow(0 1mm 1mm rgb(105, 105, 105));
  }
  
  .popularHousingMarseille article img {
    border-radius: 20px 0 0 20px;
    padding: 5px;
    object-fit: cover;
    height: 200px;
    width: 165px;
  }
  
  .mostPopularMarseille .sectionArticle article {
    display: flex;
  }
  
  .sectionTitle {
    display: flex;
    margin: 0 15px;
    align-items: baseline;
    width: 100%;
    justify-content: space-between;
  }

  .displayMore {
    margin: 15px;
  }

  /*.activities .sectionTitle {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
  }*/

  .cardText {
    padding: 0 15px;
  }

  .cardText h4, .cardText p  {
    color: black;
    margin: auto;
    padding: 10px 0;
  }

  i.fa-solid.fa-star {
    color: #0065FC;
    padding-bottom: 10px;
  }

  .blackStar i.fa-solid.fa-star {
    color: black;
  }

  span i.fa-solid.fa-star {
    color: lightgrey;
    padding-bottom: 10px;
  }

.activitiesMarseille {
  display: flex;
  flex-wrap: wrap;
  margin: 15px;
  padding: 25px;
  justify-content: space-around;
}

.activities, .activities .sectionArticle {
  display: flex;
}

.activities .sectionAside {
    display: flex;
    flex-direction: column;
  }

.activities article, 
.activities aside {
  background-color: white;
  border-radius: 20px;
  margin: 10px;
  filter: drop-shadow(0 1mm 1mm rgb(105, 105, 105));
}

.activities article img {
  border-radius: 20px 20px 0 0;
  padding: 5px;
  object-fit: cover;
  height: 550px;
  width: 100%;
}

.activities aside img {
  border-radius: 20px 20px 0 0;
  padding: 5px;
  object-fit: cover;
  height: 245px;
  width: 100%;
}

section.about {
  display: flex;
  flex-wrap: wrap;
  padding: 55px;
  background-color: #f2f2f2;
  justify-content: space-around;
}
.aboutList {
  flex-grow: 1;
}

.aboutList ul {
  list-style: none;
  padding: 0;
}

@media screen and (max-width: 1360px) { 
  .housing {
    flex-direction: column-reverse;
  }
  .popularHousingMarseille, .housingMarseille {
    max-width: 100%;
  }
  .housingMarseille article {
    max-width: 47%;
  }
  .sectionArticle {
    display: flex;
  } 
  .popularHousingMarseille article{
    max-width: 33%;
  }
}

@media screen and (max-width: 992px) { 
  .housingMarseille article img {
    height: 210px;
  }
  .popularHousingMarseille .sectionArticle {
    display: flex;
    flex-direction: column;
  }
  .mostPopularMarseille .sectionArticle article {
    max-width: 100%;
  }
  .activities, .activities .sectionArticle {
    flex-direction: column;
  }
  .activities .sectionAside {
    flex-direction: row;
  }
  .activities article img {
    height: 150px;
    width: 100%;
  }
  .activities aside img {
    height: 150px;
    width: 100%;
  }
 }

 @media screen and (max-width: 768px) { 
  .infoSite a img {
    width: 100%;
    height: 50px;
  }

  nav li.activeNav a::before, nav li.inactiveNav a::before {
    top: 35px;
    position: relative;  
  }
  nav ul {
    padding: 0;
  }
  h1 {
    font-size: 1.5em !important;
  }
  button.outside {
    display: block;
    background: #0065F2;
    border-radius: 0 10px 10px 0;
    border: none;
    padding: 13px;
    color: white;
  }
  .inputContainer input {
    display: none;
  }
  .housingMarseille article {
    max-width: 100%;
  }
  .activities, .activities .sectionArticle {
    display: flex;
    flex-wrap: wrap;
  }
  .infoSite {
    flex-direction: column;
  }
  .filtersList {
    display: block;
  }
  .filtersList ul {
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0;
  }
  .popularHousingMarseille {
    margin: 0;
    padding: 5px;
    border-radius: 0;
  }
  .popularHousingMarseille article img {
    height: 160px;
    width: 160px;
  }
  .cardText {
    padding: 0 15px;
  }
  .housingMarseille {
    background-color: transparent;
    padding: 0;
    max-width: 100%;
  }
  .housingMarseille article img {
    height: 160px;
  }
  .activitiesMarseille {
    padding: 0;
  }
  .activities .sectionAside {
    flex-direction: column;
  }
  section.about {
    flex-direction: column;
  }

 }