@font-face {
  font-family: "Raleway", sans-serif;
  src: url('fonts/Raleway-VariableFont_wght.ttf');
}
 html {
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  body {
    font-family: "Raleway", sans-serif;
  }

  a {
    text-decoration: none;
  }

  h4 {   
    font-weight: bolder;
  }

  .infoSite {
    display: flex;
    justify-content: space-between;
  }

  .infoSite a {
    justify-content: flex-start;
  }

  .infoSite nav.navbar {
    justify-content: flex-end;
  }

  nav li {
    list-style-type: none;
    display: inline-block;
    margin: 0 10px;
  }

  nav li > a { 
    text-decoration: none;
    color: black;
    position: relative;
  }

  nav li > a.activeNav {
    color: #0065FC;
  }

  nav li > a::after { 
    content: "";
    transition: all 0.3s;
    display: block;
    height: 3px;
    width: 0;
    top: 5px;
    background: transparent;
  }

  nav li > a:hover::after, nav li > a.activeNav::after { 
    width: 100%;
    background: #0065FC;
  }

  .filters ul {
    display: flex;
    list-style: none;
  }

  h2#Housing {
    padding: 0 15px;
  }

  .housing {
  display: flex;
  }

  .housingMarseille {
    max-width: 75%;
    background-color: #f2F2F2;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .housingMarseille .sectionTitle {
    max-width: fit-content;
  }

  .housingMarseille .sectionArticle, 
  .popularHousingMarseille .sectionArticle {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .housingMarseille article {
    max-width: 30%;
    background-color: white;
    border-radius: 40px;
    margin: 10px;
  }

  .popularHousingMarseille article {
    max-width: 75%;
    background-color: white;
    border-radius: 40px;
    margin: 10px;
  }

  .housingMarseille article img, 
  .popularHousingMarseille article img {
    max-width: 100%;
    border-radius: 40px 40px 0 0;
    padding: 5px;
  }

  figcaption {
    padding: 0 30px;
  }

  figcaption h4, figcaption p  {
    color: black;
    margin: auto;
  }

  i.fa-solid.fa-star, i.fa-regular.fa-star {
  color: #0065FC;
}

.popularHousingMarseille {
  max-width: 25%;
  background-color: #f2F2F2;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}

.activities {
  max-width: 100%;
  background-color: #f2F2F2;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.activities .sectionArticle {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
